doctype
html
  head
    title homectrl

    link(rel="shortcut icon", href="#{staticRoot}img/favicon.ico")

    if useCdn
      link(rel="stylesheet",
           href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
      link(rel="stylesheet",
           href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.1.0/css/bootstrap3/bootstrap-switch.min.css")
    else
      link(rel="stylesheet", href="#{staticRoot}vendor/bootstrap-3.2.0/css/bootstrap.min.css")
      link(rel="stylesheet", href="#{staticRoot}vendor/bootstrap.switch-3.1.0/css/bootstrap.switch.min.css")

    link(rel="stylesheet", href="#{staticRoot}css/styles.css")

    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

  body.label-primary

    div#homectrl

      nav#menu(role="navigation")
        ul.nav.nav-pills.nav-stacked(role="menu")
          li.dropdown-header Plugins

          //- Plugin entries go here

          li.divider#menu-item-hook

          li.dropdown-header Info
          li.info#About
            a(href="#About")
              i.glyphicon.glyphicon-info-sign
              |  About

      div#page
        div#header.label-primary
          div
            div.text-left
              div.btn-group(role="group")
                button.btn.btn-primary#menu-toggle(role="button")
                  i.glyphicon.glyphicon-align-justify
                button.btn.btn-primary#reload(role="button")
                  i.glyphicon.glyphicon-refresh

          div
            div#title-hook
              span#About
                i.glyphicon.glyphicon-info-sign
                |  About

          div
            div.text-right
              div.btn-group(role="group")
                button.btn.btn-primary#logout(role="button", title="logout")
                  i.glyphicon.glyphicon-log-out
                button.btn.btn-primary#shutdown(role="button", title="shutdown")
                  i.glyphicon.glyphicon-off

        div#content
          div.info#About About

          //- Plugins go here

        div#blocker

      div#splashscreen

    script.
      window.hcData = {
        dynamicRoot: "#{dynamicRoot}",
        staticRoot : "#{staticRoot}",
        plugins    : "#{plugins}" ? "#{plugins}".split(",") : [],
        useCdn     : #{useCdn},
        wsPort     : #{wsPort}
      };

    if useCdn
      script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js",
             data-main="#{staticRoot}js/main")
    else
      script(src="#{staticRoot}vendor/require-2.1.15.min.js", data-main="#{staticRoot}js/main")
