doctype
html
  head
    title homectrl

    link(rel="shortcut icon", href="#{hcData.staticRoot}public/favicon.ico")

    //- iOS web app settings
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="homectrl")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    each size in [192, 180, 152, 144, 120, 114, 76, 72, 57]
      link(rel="apple-touch-icon-precomposed", sizes="#{size}x#{size}", href="#{hcData.staticRoot}public/icon_#{size}.png")

    //- Android web app settings
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="manifest" href="#{hcData.staticRoot}public/manifest.json")

    style.
      body > div#splashscreen {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 100;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0.05s, opacity 0.05s linear;
      }

  body

    div#splashscreen

    div#homectrl

      nav#menu(role="navigation")

        ul.nav.nav-pills.nav-stacked(role="menu")
          li.dropdown-header #{locales.menu.plugins}

          //- Plugin entries go here

          li.divider#menu-item-hook

          li.dropdown-header #{locales.menu.settings}

          li.setting#menu-type-switch
            span #{locales.settings.menuType}
            input(type="checkbox")

      div#page
        div#header
          div
            div.text-left
              div.btn-group(role="group")
                button.btn.btn-default#menu-toggle(role="button", title="#{locales.tooltips.menu}", data-toggle="tooltip")
                  i.glyphicon.glyphicon-align-justify
                button.btn.btn-default#refresh(role="button", title="#{locales.tooltips.refresh}", data-toggle="tooltip")
                  i.glyphicon.glyphicon-refresh

          div
            div#title-hook
              span#Dummy
                i.glyphicon.glyphicon-info-sign
                |  Dummy

          div
            div.text-right
              div.btn-group(role="group")
                button.btn.btn-default#logout(role="button", title="#{locales.tooltips.logout}", data-toggle="tooltip")
                  i.glyphicon.glyphicon-log-out
                button.btn.btn-default#shutdown(role="button", title="#{locales.tooltips.shutdown}", data-toggle="tooltip")
                  i.glyphicon.glyphicon-off

        div#content
          div.info#Dummy Dummy

          //- Plugins go here

        div#blocker

    script.
      window.hcData    = !{hcDataString};
      window.hcLocales = !{localesString};

    if hcData.useCdn
      script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js",
             data-main="#{hcData.staticRoot}js/main")
    else
      script(src="#{hcData.staticRoot}vendor/require-2.1.15.min.js", data-main="#{hcData.staticRoot}js/main")
